<% if (session[:user_id]!= nil) %>
<%= render :partial => "menu/home_logged" %>
<% end %>

<% if (session[:user_id]== nil) %>
<div class="container">
	<%= render :partial => "sessions/new" %>
</div>
<% end %>

