<section id="main-content">
  <section class="wrapper">
    <br/>
    <br/>

    <div class="form-size">
      <section class="panel">
        <header class="panel-heading">
          <h1>New Number</h1>
        </header>
        <%= render :partial => 'form' %>
      </section>
    </div>
  </section>
</section>
