<!DOCTYPE html>
<html>
<body>
<div class="panel panel-default">

  <div class="well text-center">
    <h4>Click <%= link_to "here", apps_path %> to manage the applications</h4>
    <h4>Click <%= link_to "here", users_path %> to manage the users</h4>
  </div>
  <% tp AppsUsers.all %>
</div>
</body>
</html>