<!DOCTYPE html>
<html>
<body>
<div class="panel panel-default">

  <div class="well text-center">
    <h4>Click <%= link_to "here", apps_path %> to manage the applications</h4>
  </div>

</div>
</body>
</html>