<!DOCTYPE html>
<html>
<body>

<div class="well-sm text-center">
  <h2 class="page-header">Admin Panel:</h2>
  <h2> <%= link_to "Click here to manage the applications", apps_path, :class => "btn btn-info btn-large" %> </h2>

  <h2> <%= link_to "Click here to manage the users", users_path, :class => "btn btn-warning btn-large" %> </h2>
</div>
<% tp AppsUsers.all %>
</body>
</html>