<!DOCTYPE html>
<html>
    <body>
        <div class="center hero-unit">
            <h1>Welcome to Wasappli Value Changer</h1>
        </div>
        <div class="panel panel-default">
            <div class="well">
                <h4>Click <%= link_to "here", couleurs_path %> to change the colors</h4>
            </div>
        </div>
    </body>
</html>