<!DOCTYPE html>
<html>
<body>
<div class="center hero-unit">
  <h1>Welcome to Wasappli Value Changer</h1>
  <% if (session[:user_id]!= nil) %>
      <%= render :partial => "static/home_logged" %>
  <% end %>

</div>
<div class="panel panel-default">

  <% if (session[:user_id]== nil) %>
      <div class="well text-center">
        <%= render :partial => "sessions/new" %>
      </div>
      <div class="well text-center">
        <div id="sign_in_form">
          <!-- Button trigger modal -->
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Sign In
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">
                    New user
                  </h4>
                </div>
                <div class="modal-body">
                  <%= render :partial => "users/new_usr" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>

</div>
</body>
</html>